.detail {
    display: flex;
    padding-left: 20px;
    padding-top: 20px;
    margin-top: 10px;
}

.side-bar-action {
    position: sticky;
    top: 50px;
    width: 32px;
    margin-bottom: 20px; 
}

.btn-font {
    padding: 4px 0;
    background: #fff;
    border: 1px solid #dfe0e3;
    box-sizing: border-box;
    border-radius: 100px;
    display: block;
    text-align: center;
    margin-bottom: 8px; 
}

.main-content {
    margin-left: 100px;
    margin-right: 200px
}

.sub-title {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px
}

.category a {
    color: #666;
}

.date {
    font-size: 13px;
    line-height: 18px;
    color: #656565;
}

.title {
    font-size: 32px;
    line-height: 46px;
    color: #222;
    font-weight: 700;
    margin-top: 0;
    margin-bottom: 24px;
}


.info {
    padding-top: 10px;
    border-bottom: 1px solid #e2e2e2;
    padding-bottom: 10px
}
.groupavtauthor {
    position: relative;
    display: flex;
    align-items: center;
    height: 30px;
}

.groupavtauthor img {
    width: 40px;
    height: 40px;
}

.author-info{
    position: relative;
    left: 50px;
    bottom: 20px;
    display: flex;
    align-items: center;

}

.author-info a{
    color: black;
    font-size: 15px
}