html {
  scroll-behavior: smooth;
}
body {
  margin: 0;
  background-color: #f3f3f5;
}

a {
  text-decoration: none;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
.hidden {
  visibility: hidden;
}
.btt-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  width: 48px;
  height: 48px;
  border: 1px solid #d9d9d9;
  border-radius: 100px;
  position: fixed;
  right: 40px;
  bottom: 100px;
  z-index: 9;
  flex-direction: column;
}
